@charset "UTF-8";

.news-contents{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

article{
    width: 70%;
    background-color: #fff;
}

aside{
    width: 30%;
    background-color: springgreen;
}

body{
    background-color: salmon;
}

header{
    background-color: seashell;
    padding-bottom: 10px;
}

.post-info{
    position: relative;
    padding-top: 4px;
    margin-top: 0px;
}

.post-data{
    background: #0bd;
    border-radius: 50%;
    color: #fff;
    width: 80px;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 10px;
    margin-left: 30px;
}

.post-data span{
    font-size: 1rem;
    border-top: 1px rgba(254, 255, 255, 5) solid;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    width: 60%;
    margin: 0 auto;
}

.post-title,
.post-cat{
    padding-left: 150px;
}